.display-1 {
    text-align: center;
    color: white;
    background-image: url("https://wallpapercave.com/wp/Y0StpXn.jpg");
}

body {
    background-image: url("https://cdn.hipwallpaper.com/i/91/55/RlUYXy.jpg");
}